/* ------------- */
/* FONTS */
/* ------------- */
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Sanchez&display=swap");

/* ------------- */
/* SETUP */
/* ------------- */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: 16px;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
}

/* GENERAL */

.title {
  font-family: "Sanchez", Arial, Helvetica, sans-serif;
  font-size: 2.2rem;
  letter-spacing: 0.1px;
  color: #1f9751;
}

.title.alt {
  color: #000;
}

.subhead {
  font-size: 2.4rem;
  font-family: "Sanchez", Arial, Helvetica, sans-serif;
  padding-bottom: 0.6rem;
}

.guide_subhead {
  font-size: 2rem;
  font-family: "Sanchez", Arial, Helvetica, sans-serif;
  padding-bottom: 0.8rem;
}

.zip-input {
  border-top-left-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.zip-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-red-style {
  text-transform: capitalize;
  background-color: #cb151c;
  font-weight: 900;
  color: #fff;
}

.btn-red-style:hover {
  color: #fff;
  background-color: #ed1c24;
}

.btn-yellow-style {
  text-transform: uppercase;
  background-color: #ffc700;
  font-weight: 900;
  color: #fff;
}

.btn-yellow-style:hover {
  background-color: #e7c200;
  border-color: #e7c200;
  color: #fff;
}

.btn-red-style + .btn-yellow-style {
  margin-left: 15px;
}
/* ------------- */
/* HEADING SECTION */
/* ------------- */

/* NAV */

#main_nav {
  height: 76px;
}

.navbar.navbar-dark {
  background-color: #000;
}

.nav_logo {
  max-width: 250px;
}

.nav_menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.nav-item {
  padding: 0 1em;
  font-family: "Sanchez", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.navbar .navbar-nav a.nav-link {
  text-decoration: none;
  color: #b7b7b7;
}

.navbar .btn i {
  color: #b7b7b7;
}

.navbar .navbar-nav a.nav-link:hover {
  color: #cb151c;
}

/* ------------- */
/* HOME PAGE */
/* ------------- */
/* HERO */

.home_hero {
  background-image: url("/assets/imgs/home-hero.jpg");
  background-size: cover;
  min-height: 400px;
}

.home_callout-box {
  position: absolute;
  left: 35px;
  top: 48px;
  width: 80%;
  margin: 0 auto;

  border: 7px solid #cb151c;
  border-radius: 14px;
  padding: 35px;
  padding-top: 50px;
  background-color: #fff;
  margin-top: 40px;
}

.home_title {
  font-family: "Sanchez", Arial, Helvetica, sans-serif;
  color: #cb151c;
  font-size: 2.3rem;
}

.home_callout-box p {
  padding: 0.6em 0;
}

.banner-container {
  margin: 3em 0;
  padding: 2em 0;
  border-bottom: 1px solid #c4c4c4;
}

.home_icon-banner img {
  height: 65px;
  padding: 15px;
}

#home-map {
  height: 550px;
}

/* PROVIDER SEARCH */

.provider-search {
  background: #cb151c;
}

.provider-search_head {
  color: #fff;
  font-family: "Sanchez", Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
}

.provider-search_head.provider_alt {
  font-size: 1.6em;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: 800;
}

.provider-search_body {
  color: #fff;
}

.zip-button {
  background-color: #ffc700;
  border-color: #ffc700;
  font-weight: 700;
  font-size: 1rem;
}

.zip-button:hover {
  background-color: #e7c200;
  border-color: #e7c200;
}

.resource-search {
  background-color: #b7b7b7;
}

/* ------------- */
/* MARKETPLACE PAGE */
/* ------------- */

/* HERO */

.marketplace-landing_hero {
  background-image: url("/assets/imgs/MosquitoExterminator-Half.jpg");
  background-size: cover;
}

.hero_heading {
  font-family: "Sanchez", Arial, Helvetica, sans-serif;
  font-size: 2.5em;
  padding-bottom: 0.6em;
}

.hero_list {
  display: flex;
  align-items: center;
}

.hero_list i {
  color: #000;
  font-size: 2.4em;
  padding-right: 0.4em;
}

.hero_check {
  font-size: 1.8em;
}

.hero_location {
  padding-top: 60px;
}

.hero_location .col-4 {
  padding-right: 25px;
}

.location_text {
  font-weight: 600;
}

/* STEPS */

.landing-steps .col-md-4 {
  padding: 0;
}

.step {
  color: #fff;
  display: flex;
  justify-content: center;
  padding-top: 1em;
}

.step h3 {
  font-size: 1.5em;
}

.step p {
  font-size: 0.9em;
}

.step i {
  font-size: 2em;
  padding-right: 0.5em;
}

#step001 {
  background-color: #ae171c;
}

.step01 {
  background-color: #8d1216;
  clip-path: polygon(0% 0%, 90% 0%, 100% 47%, 90% 100%, 0% 100%);
}

#step002 {
  background-color: #cb151c;
}

.step02 {
  background-color: #ae171c;
  clip-path: polygon(0% 0%, 90% 0%, 100% 47%, 90% 100%, 0% 100%);
}

.step03 {
  background-color: #cb151c;
}

/* COUPONS */

.coupon {
  background: #ffffff;
  border: 6px solid #ef4545;
  border-radius: 13px;
  padding: 20px 20px;
  margin-top: 20px;
}

#coupon_top-pick {
  margin-top: 40px;
  position: relative;
}

.featured-banner {
  position: absolute;
  left: 25px;
  top: -35px;
  z-index: 10;
}

.featured_top-pick {
  position: absolute;
  top: -20px;
  left: 37px;

  font-family: "Sanchez", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.1px;
  z-index: 11;
}

.coupon_first-row {
  align-content: flex-end;
  align-items: flex-end;
  flex-flow: row wrap;
}

.coupon_logo {
  height: 60px;
}

.coupon_rating-box p {
  font-weight: 700;
}

.coupon_star {
  color: #ffc700;
}

.coupon_call-us {
  font-family: "Sanchez", Arial, Helvetica, sans-serif;
  color: #505050;
}

.coupon_phone-icon {
  background-color: #e99d0b;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.coupon_phone-icon i {
  font-size: 2em;
}

.coupon_phone-number {
  background-color: #ffc700;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.coupon_phone-number p {
  font-size: 1.6em;
  font-family: "Sanchez", Arial, Helvetica, sans-serif;
  margin-bottom: 0;
}

.coupon_special-background {
  background-image: url("../imgs/special-banner.svg");
  background-repeat: no-repeat;
  margin-left: 10px;
  background-position: center;
}

.coupon_special-offers {
  padding-top: 12px;
  font-family: "Sanchez", Arial, Helvetica, sans-serif;
  text-align: center;
}

.coupon_review-link {
  color: #ed1c24;
  font-family: "Sanchez", Arial, Helvetica, sans-serif;
  margin-left: 4em;
}

.coupon_review-link:hover {
  color: #cb151c;
}

.fa-angle-right {
  padding-left: 5px;
}

.coupon_checklist {
  list-style: none;
}

.coupon_item {
  margin-left: 1.4em;
  font-weight: 700;
  font-size: 1.1em;
}

.fa-li {
  left: -1em;
  position: relative;
}

.coupon-alt {
  background: #ffffff;
  border: 4px solid #a1a1a1;
  border-radius: 13px;
  padding: 20px 20px;
  margin-top: 20px;
}

.coupon_phone-icon-alt {
  background-color: #959596;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.coupon_phone-icon-alt i {
  font-size: 2em;
  color: #fff;
}

.coupon_phone-number-alt {
  background-color: #b1afaf;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.coupon_phone-number-alt p {
  font-size: 1.6em;
  font-family: "Sanchez", Arial, Helvetica, sans-serif;
  margin-bottom: 0;
  color: #fff;
}

.coupon_divider {
  width: 98%;
  margin: 0 auto;
  background-color: #000;
}

.disclaimer {
  margin-top: 1.5em;
}

.disclaimer h5 {
  font-weight: 600;
  font-size: 1em;
}

.disclaimer p {
  font-size: 0.8em;
}

/* ------------- */
/* ABOUT PAGE */
/* ------------- */

.about_hero {
  background-image: url("/assets/imgs/MosquitoExterminator-Half.jpg");
  background-size: cover;
  min-height: 400px;
  display: flex;
  align-items: center;
}

/* ------------- */
/* RATING PAGE */
/* ------------- */

.rate_hero {
  background-image: url("/assets/imgs/MosquitoExterminator-Half.jpg");
  background-size: cover;
  min-height: 300px;
  display: flex;
  align-items: center;
}

.secondary-subhead {
  font-family: "Sanchez", Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  color: #636363;
}

/* ------------- */
/* ADVERTISING POLICY PAGE */
/* ------------- */

.advertising_hero {
  background-image: url("/assets/imgs/MosquitoExterminator-Half.jpg");
  background-size: cover;
  min-height: 300px;
  display: flex;
  align-items: center;
}

/* ------------- */
/* COMPANY REVIEWS LANDING PAGE */
/* ------------- */

.company-reviews_hero {
  background-image: url("/assets/imgs/MosquitoExterminator-Half.jpg");
  background-size: cover;
  min-height: 300px;
  display: flex;
  align-items: center;
}

.coupon-review {
  padding: 40px;
  margin-bottom: 2em;
}

.coupon-review_logo {
  max-height: 80px;
}

.coupon-review_rating {
  margin: 0 auto;
  font-weight: 900;
}

.coupon-review_title {
  font-family: "Sanchez", Arial, Helvetica, sans-serif;
  padding-bottom: 0.6em;
  color: #000;
}

.coupon-review_title + p {
  padding-bottom: 0.6em;
}

.coupon-review_button-container {
  padding-top: 0.5em;
}

/* ------------- */
/* SERVICEABLE AREAS PAGE */
/* ------------- */

.branch_hero {
  min-height: 360px;
  background: linear-gradient(
    0deg,
    rgba(25, 103, 48, 0.67),
    rgba(25, 103, 48, 0.67)
  );
  background-image: url("../imgs/branch-hero.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
}

.branch_hero .title {
  color: #fff;
}

.branch_address {
  color: #fff;
  font-size: 1.3em;
}

.branch_img-container {
  width: 75%;
  margin: 0 auto;
}

.branch_img-container img {
  border-radius: 50%;
}

.branch_phone-number {
  background-color: #ffc700;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
  border-radius: 6px;
}

.branch_phone-number p {
  font-size: 1.2em;
  margin-bottom: 0;
  font-family: "Sanchez", Arial, Helvetica, sans-serif;
}

.call-us-svg {
  padding-right: 0.7em;
}

.branch_special-offers {
  background-color: #f5f5f4;
}

.branch-title {
  font-size: 1.8em;
  font-family: "Sanchez", Arial, Helvetica, sans-serif;
  padding-bottom: 0.6em;
}

.branch_ratings {
  margin-left: 0px;
  margin-bottom: 1em;
}

.branch-summary_our-rating {
  background-color: #ae171c;
  display: flex;
  align-items: center;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  padding: 0.6em 1em;
}

.branch-summary_our-rating p {
  margin: 0;
  color: #fff;
  font-weight: 600;
  font-size: 1.1em;
}

.branch-summary_user-rating {
  background-color: #cb151c;
  display: flex;
  align-items: center;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 0.6em 1em;
}

.branch-summary_user-rating p {
  margin: 0;
  color: #fff;
  font-weight: 600;
  font-size: 1.1em;
}

.branch-summary_user-rating .coupon_star {
  color: #8d1216;
}

.branch-summary_list {
  margin-left: 18px;
}

.branch_review-link {
  color: #000;
  font-weight: 700;
}

.branch_review-link:hover {
  color: #cb151c;
}

.branch_disclaimer {
  background-color: #f5f5f4;
  padding: 1.6em;
}

/* ------------- */
/* BRANCH PAGE */
/* ------------- */

#phone-box {
  margin-left: 15px;
  font-family: "Sanchez", Arial, Helvetica, sans-serif;
}

.rating_divider {
  background-color: #000;
  width: 100px;
  height: 2px;
  margin-bottom: 2rem;
}

.rating_info-container {
  border: 2px solid #000;
  border-radius: 21px;
  padding-top: 1em;
  padding-bottom: 1em;
}

.rating_info-container .rating_rating {
  color: #d7151d;
  font-size: 1.2rem;
}

.rating_info-container .rating_rating span {
  font-size: 3em;
  font-weight: 900;
  line-height: 1.15;
}

.rating_info-container p {
  color: #747474;
  margin: 0;
}

.rating-section h4 {
  font-family: "Sanchez", Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}

.rating_review-link {
  color: #d7151d;
  font-weight: 700;
}

.rating_review-link:hover {
  color: #000;
}

.rating_pros,
.rating_cons {
  padding: 1.6em 2em;
  border-radius: 13px;
}

.rating_pros {
  background-color: #cb151c;
  color: #fff;
}

.rating_cons {
  background-color: #dfdfdf;
  color: #000;
}

.rating_pros h5,
.rating_cons h5 {
  font-weight: 700;
}

.rating_pros hr {
  height: 2px;
  background-color: #fff;
}

.rating_cons hr {
  height: 2px;
  background-color: #000;
}

.rating_pros ul,
.rating_cons ul {
  list-style: none;
}

.rating_pros .fa-li,
.rating_cons .fa-li {
  left: 0;
  padding-right: 1em;
}

.rating_pros li,
.rating_cons li {
  padding-bottom: 0.6rem;
  font-size: 1.1rem;
}

.list-fix {
  padding-left: 15px;
}

.visitor_rating {
  font-size: 1.6em;
}

.visitor_rating i:last-child {
  padding-right: 1em;
}

.vistor_rating-container {
  display: grid;
  align-items: center;
}

.vistor_rating-container span {
  display: inline;
}

.rating-bar {
  justify-self: flex-end;
}

.rating_garnish {
  align-self: flex-start;
}

.rating_garnish-container {
  margin-right: -55px;
}

.branch_information {
  margin: 0;
  font-weight: 700;
}

.rating_emphasis {
  color: #d7151d;
}

.visitor_rating-container {
  border: 1px solid #d6d6d6;
  padding: 1.2em 1.6em;
}

.visitor_rating-container i {
  font-size: 1.2em;
  margin-left: 0.3em;
}

.visitor_rating-text {
  font-style: italic;
  font-size: 0.95rem;
}

.visitor_user-info {
  font-size: 0.9rem;
  color: #878787;
  margin: 0;
}

.visitor_user-info span {
  font-weight: 700;
  color: #000;
  font-size: 0.95rem;
}

/* ------------- */
/* REVIEW TEMPLATE PAGE */
/* ------------- */

.review-template_hero {
  background-image: url("/assets/imgs/MosquitoExterminator-Half.jpg");
  background-size: cover;
  min-height: 300px;
  display: flex;
  align-items: center;
}

.editorial-review {
  font-weight: 800;
  font-size: 0.8rem;
  line-height: 19px;
  letter-spacing: 0.5px;

  color: #9b9b9b;
}

.review-template-coupon {
  position: relative;
}

.review-template_logo-container {
  position: absolute;
  top: -70px;
  left: 40px;
  border: 6px solid #ef4545;
  border-radius: 13px;
  padding: 20px 20px;
  background: #fff;
}

.review-template-coupon h6 {
  font-weight: 900;
  font-size: 1.4rem;
}

.coupon-review_table-of-contents {
  background-color: #cb151c;
  color: #fff;
  padding: 1.6em;
}

.coupon-review_table-of-contents h5 {
  font-family: "Sanchez", Arial, Helvetica, sans-serif;
}

.coupon-review_table-of-contents hr {
  background-color: #fff;
  height: 2px;
}

.coupon-review_table-of-contents ul {
  list-style: none;
}

.coupon-review_table-of-contents ul li {
  margin-bottom: 0.6em;
}

.coupon-review_table-of-contents ul a {
  color: #fff;
  text-decoration: underline;
  font-weight: 700;
}

.review_rating-bar {
  background-color: #cb151c;
  border-radius: 13px;
  display: flex;
  align-content: center;
}

.review_rating-bar p {
  margin: 0;
  padding: 1em;
  font-weight: 700;
  color: #fff;
}

.review_rating-bar .coupon_star {
  color: #f29a07;
}

.pros-and-cons .rating_pros,
.pros-and-cons .rating_cons {
  min-height: 190px;
}

.review_customer-review-container {
  border: 5px solid #000;
  position: relative;
  text-align: center;
  padding: 4em 6em 3em 6em;
  border-radius: 13px;
}

.quote-flourish {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translate(-36px);
  z-index: 10;
}

.quote-flourish img {
  height: 52px;
}

.review_customer-review-name {
  font-weight: 700;
  margin: 0;
}

/* ------------- */
/* GUIDE PAGE */
/* ------------- */

.guide_hero {
  background-image: url("/assets/imgs/MosquitoExterminator.jpg");
  background-size: cover;
  min-height: 400px;
  display: flex;
  align-items: center;
}

/* RESOURCES LANDING PAGE */

.resources_slider-section {
  background-color: #ecf0f5;
}

.slider_inner {
  background-color: #fff;
  padding: 2em;
  margin: 2em;
}

.slider_resource-img {
  padding: 2em;
}

.slider_resource-text {
  padding: 2em;
}

.slider_resource-text h5 {
  font-family: "Sanchez", Arial, Helvetica, sans-serif;
}

.slider_resource-text p {
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 1.6px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
}

.carousel-indicators li {
  background-color: #c4c4c4;
}

.carousel-indicators li.active {
  background-color: #cb151c;
}

.resources-landing_main h2 {
  font-size: 1.6rem;
}

.card.resources_featured-guide {
  border: 2px solid #878787;
  border-radius: 15px;
  overflow: hidden;
}

.card.resources_featured-guide h6 {
  font-family: "Sanchez", Arial, Helvetica, sans-serif;
  line-height: 1.6rem;
  color: #000;
}

.article-list h5 {
  font-family: "Sanchez", Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
}

.article-list-item {
  border-top: 1px dashed #b7b7b7;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}

.bg-gray {
  background-color: #ecf0f5;
}

/* ------- */
/* FOOTER */
/* ------- */

.primary-footer {
  background-color: #000;
  color: #fff;
}

.footer_logo {
  max-width: 230px;
  padding-bottom: 1rem;
}

.footer_title {
  color: #ffc700;
  font-size: 1.5rem;
  font-family: "Sanchez", Arial, Helvetica, sans-serif;
  padding-bottom: 1rem;
}

.footer_menu {
  list-style: none;
}

.footer_menu li a {
  color: #fff;
}

/* RESPONSIVE */

@media (max-width: 767px) {
  .step01,
  .step02 {
    clip-path: none;
  }
}

@media (max-width: 576px) {
  .hero_check {
    display: inline;
  }

  .featured-banner {
    display: none;
  }
  .featured_top-pick {
    display: none;
  }
  .breakpoint_center {
    margin: 0 auto;
  }
}
